@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Center Text Farbe */

html,
body {
    background-color: rgb(204, 203, 203);
    opacity: 100%;
    color: rgb(0, 136, 255);
    text-align: center;
    color: rgba(255, 183, 0, 0.94);
    height: 100%;
    width: 100%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    background-position: bottom;
}


button {
    font-family: cursive;
    font-weight: 550;
    font-size: 20px;
    color: rgb(144, 96, 96);
    text-decoration: none;
}

header {
    display: flexbox;
    justify-content: center;
    padding: 30px 10%;
}

/* Header Buttos Farbe */

button {
    padding: 9px 25px;
    background-color: rgba(255, 183, 0, 0.94);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* Button Hover Farbe */

button:hover {
    background-color: rgb(255, 234, 0);
}

#navigation2 {
    margin-bottom: 30px;
}

#navigation2 .link {
    padding: 15px;
    background-color: rgb(84, 84, 84);
    color: #000;
}

#navigation2 .link:hover {
    background-color: rgb(186, 184, 184);
    cursor: pointer;
}

/* text font */

.footblock {
    font-family: cursive;
}

.produktnames {
    font-family: cursive;
}

.addrblock {
    font-family: cursive;
}

.welcometext {
    font-size: 18px;
    font-family: cursive;

}

.registerform_box {
    font-family: cursive;
}

.subbox {
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
    text-align: left;
}

.contacttext {
    font-family: cursive;
}

.contact_box {
    font-family: cursive;
}

.produkt12 {
    font-family: cursive;
    color: rgb(255, 0, 0);

}

.produkt img {
    width: 80%;
    max-width: 350px;
}

.logo {
    color: rgba(255, 183, 0, 0.94);
    font-size: 25px;
    font-family: cursive;
}

/* Footer Farbe */
a {
    color: rgba(0, 0, 0, 0.94);
}

input {
    color: aliceblue;
}

.grpnames {
    color: rgb(255, 183, 0, 0.94);
    font-family: cursive;
}



/* Boxfelder allignment */

.registerform_box label {

    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
    text-align: left;
}

.contact_box label {

    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
    text-align: left;

}


/* login box alignment */
/*form {
    display: inline-block;
}*/


/* img float */
/* Three image containers (use 25% for four, and 50% for two, etc (100/ die anzahl an bilders)) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}