@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    text: cursive;
}

.content {

    font-size: small;

}

body {
    font-family: cursive;
}


.artikelbutton {

    
    text-align: center;

}

.nav-link {
    font-size: 20px;
}