body {
    background-color: azure;
}


body {
    background-color: rgb(48, 4, 4);
    margin: 50px;
}

h1 {
    color: rgb(182, 188, 10);

    background-color: rgb(92, 43, 226);
}

div>p:first-letter,
div>p::first-line {
    color: rgb(10, 182, 188);
}

div~p {
    color: blue;
}

button:hover {
    background-color: aqua;
    width: 1000px;
    height: 300px;
}

button {
    background-color: black;
    width: 1000px;
    height: 300px;
}

.center {
    position: absolute;
    top: 56%;
    left: 15%;
}

.buttontext {
    font-size: 250px;
}

.four {
    border: 5px dotted blue;
    border-width: 15px;
}

.zero {
    border: 5px dotted yellow;
    border-width: 3.9px;
}